   html {
       font-size: 100%;
   }

   *,
   *::before,
   *::after {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   ul {
       list-style: none;
   }

   a {
       text-decoration: none;
   }
   
// ***** Colors *****
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

$White: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$mostly-black-blue: hsl(234, 17%, 12%);

$fs-body: 14px;
$fw-bold: 700;
$ff-main: "Red Hat Text", sans-serif;

// Flex box Properties Mixin
@mixin flex($direction, $justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

// Pseudo Mixin properties
@mixin pseudo($top, $width, $height, $color, $br) {
    content: "";
    position: absolute;
    top: $top;
    width: $width;
    height: $height;
    background-color: $color;
    border-radius: $br;
}

// Typography
@mixin typography($ln, $fs, $fw, $ls, $cl, $ta, $tt) {
    line-height: $ln;
    font-size: $fs;
    font-weight: $fw;
    letter-spacing: $ls;
    color: $cl;
    text-align: $ta;
    text-transform: $tt;
}

body {
    font-family: $ff-main;
    background-image: url(../images/bg-stars.svg), url(../images/pattern-hills.svg);
    background-color: #231d2b;
    background-repeat: no-repeat;
    background-position: top center, bottom left;
    background-size: 100% 75%, 190% 25%;
    min-height: 100vh;
    width: 100%;
    @include flex($direction: column, $justify: space-between);
}

.title {
    @include typography($ln: 1.4, $fs: 1rem, $fw: $fw-bold, $ls: 0.375rem, $cl: $White, $ta: center, $tt: uppercase);
    max-width: 16.25rem;
    margin: 0 auto 3.75rem;
}

.component {
    max-width: 23.75rem;
    margin-inline: auto;
    padding: 8.75rem 1rem 1.5rem;
}

.counter {
    @include flex($direction: row, $justify: space-between);
    width: 100%;
    gap: 0.875rem;
}

.counter-item {
    min-width: 4rem;
    width: 21%;

    .number {
        margin-bottom: 1rem;
        border-radius: 5px;
        @include typography($ln: 1, $fs: 35px, $fw: $fw-bold, $ls: normal, $cl: $soft-red, $ta: center, $tt: normal);
        position: relative;
        overflow: hidden;
        height: 66px;
        background-color: hsl(236 21% 26%);
        box-shadow: 0 7px 0 0px $mostly-black-blue;

        .top-number,
        .top-flip {
            position: absolute;
            padding-top: 15px;
            top: 0;
            left: 0;
            width: 100%;
            height: 33px;
            border-radius: 5px;
            overflow: hidden;
            @include flex($direction: column, $justify: flex-start);
            filter: brightness(80%);
            background-color: hsl(236 21% 26%);
            border-bottom: 1px solid rgba(255, 255, 255, .1);
        }

        .top-flip {
            transform-origin: bottom;
            animation: top-flip .25s ease-in;
        }

        @keyframes top-flip {
            100% {
                transform: rotateX(90deg)
            }
        }

        .bottom-number,
        .bottom-flip {
            position: absolute;
            padding-bottom: 1rem;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 33px;
            overflow: hidden;
            @include flex($direction: column, $justify: flex-end);
            background-color: hsl(236deg 21% 26%);
        }

        .bottom-flip {
            transform-origin: top;
            transform: rotateX(90deg);
            animation: bottom-flip .25s ease-out .25s;
        }

        @keyframes bottom-flip {
            100% {
                transform: rotateX(0)
            }
        }

        // Rounded portion in the middle of the Counter 
        &::before {
            @include pseudo(50%, 10px, 10px, $mostly-black-blue, 50%);
            left: 0;
            z-index: 4;
            transform: translate(-50%, -50%);
        }

        &::after {
            right: 0;
            transform: translate(50%, -50%);
            z-index: 4;
            @include pseudo(50%, 10px, 10px, $mostly-black-blue, 50%);
        }
    }

    // Words under Each Counter Item
    .words {
        @include typography($ln: 1, $fs: 10px, $fw: $fw-bold, $ls: 2px, $cl: $grayish-blue, $ta: center, $tt: uppercase);
        display: block;
    }
}

// Footer 
footer {
    @include typography($ln: 1.5, $fs: 1rem, $fw: 500, $ls: normal, $cl: $White, $ta: center, $tt: normal);
    @include flex($direction: column, $justify: space-between);
    margin-bottom: 30px;

    // Social Links 
    .social-links {
        @include flex($direction: row, $justify: space-between);
        gap: 30px;
        margin-bottom: 1rem;
        max-width: 140px;

        li a {
            @include flex($direction: row, $justify: center);
        }

        li a:focus {
            outline: .3em dashed $soft-red;
            outline-offset: .5em;
        }

        a path {
            transition: .25s ease-in-out;
        }

        a:hover path {
            fill: $soft-red
        }
    }

    a {
        display: inline-block;
        color: $soft-red;
        transition: .25s ease-in-out;

        &:focus {
            outline: .3em dashed $soft-red;
            outline-offset: .5em;
        }
    }

    a:hover {
        color: rgb(230, 171, 253)
    }
}

// Media query for screens larger than 769px
@media screen and (min-width: 48.063em) {
    body {
        background-size: 100% 75%, 100% 25%;
    }

    .component {
        max-width: unset;
        min-width: 42.875rem;
    }

    .title {
        font-size: 1.29rem;
        letter-spacing: 0.35em;
        margin-bottom: 6.5rem;
        max-width: unset;
    }

    .counter-item {
        width: 9.063rem;

        .number {
            height: 140px;
            font-size: 4.688rem;

            .top-number,
            .top-flip {
                padding-top: 32px;
                height: 70px;
            }

            .bottom-number,
            .bottom-flip {
                padding-bottom: 32px;
                height: 70px;
            }
        }

        .words {
            font-size: 1rem;
        }
    }

    .social-links {
        gap: 1.25rem;
    }
}
